{{#hasLoaderI18n}}import {getInstance} from '~/middleware/i18next';
{{/hasLoaderI18n}}import {{pageName}} from '~/pages/{{routeSlug}}/page';
{{#hasLoader}}import type {LoaderData} from '~/pages/{{routeSlug}}/types';
{{/hasLoader}}{{#needsRouteType}}import type {Route} from './+types/{{routeFile}}';
{{/needsRouteType}}
{{#hasLoaderI18n}}export const loader = async ({
  context,
}: Route.LoaderArgs): Promise<LoaderData> => {
  const i18next = getInstance(context);
  const title = i18next.t('{{i18nKey}}.meta.title', {ns: 'pages'});
  const description = i18next.t('{{i18nKey}}.meta.description', {ns: 'pages'});

  return {description, title};
};

{{/hasLoaderI18n}}{{#hasLoaderNoI18n}}export const loader = (): LoaderData => ({
  description: 'Description of the {{routeSlug}} page',
  title: '{{pageName}}',
});

{{/hasLoaderNoI18n}}{{#hasAction}}export const action = async ({request}: Route.ActionArgs) => {
  // TODO: implement action
  await request.formData();

  return {result: 'success'} as const;
};

{{/hasAction}}const {{routeName}}Route = () => <{{pageName}} />;

export default {{routeName}}Route;
