import {http, HttpResponse} from 'msw';
import {{{NAME_UPPER}}_URLS} from '~/services/{{layer}}/{{name}}/urls';
import {url} from '../url';
import {{{plural}}, type Server{{Singular}}} from './data';

export default http.post(url({{NAME_UPPER}}_URLS.{{plural}}), async ({request}) => {
  const body = (await request.json()) as Partial<Server{{Singular}}>;
  const record = {...body, id: body.id ?? crypto.randomUUID()} as Server{{Singular}};
  const data = await {{plural}}.create(record);

  return HttpResponse.json({data});
});
