{{importLines}}

{{#hasGet}}
export const getAll{{Plural}} = async (
  signal?: AbortSignal
): Promise<{{Plural}}> => {
  const {data} = await api({{NAME_UPPER}}_URLS.{{plural}}, {
    schema: envelope({{plural}}Schema),
    signal,
  });

  return data;
};

export const get{{Singular}}ById = async (
  id: string,
  signal?: AbortSignal
): Promise<{{Singular}}> => {
  const {data} = await api({{NAME_UPPER}}_URLS.{{plural}}Id, {
    pathParams: {id},
    schema: envelope({{singular}}Schema),
    signal,
  });

  return data;
};

{{/hasGet}}
{{#hasPost}}
export const create{{Singular}} = async (
  input: {{Singular}}Input,
  signal?: AbortSignal
): Promise<{{Singular}}> => {
  const {data} = await api({{NAME_UPPER}}_URLS.{{plural}}, {
    json: input,
    method: 'post',
    schema: envelope({{singular}}Schema),
    signal,
  });

  return data;
};

{{/hasPost}}
{{#hasPut}}
export const update{{Singular}} = async (
  id: string,
  input: {{Singular}}Input,
  signal?: AbortSignal
): Promise<{{Singular}}> => {
  const {data} = await api({{NAME_UPPER}}_URLS.{{plural}}Id, {
    json: input,
    method: 'put',
    pathParams: {id},
    schema: envelope({{singular}}Schema),
    signal,
  });

  return data;
};

{{/hasPut}}
{{#hasDelete}}
export const delete{{Singular}} = async (
  id: string,
  signal?: AbortSignal
): Promise<void> =>
  api({{NAME_UPPER}}_URLS.{{plural}}Id, {
    method: 'delete',
    pathParams: {id},
    signal,
  });

{{/hasDelete}}
